:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-blue: #2196f3;
    --border-color: #ececec;
    --bright-grey: #757575;
    --black: #212121;
    --background: #2f303a;
    --main-white: #ffffff;
    --background-white: #f5f4fa;
    --social-color: #AFB1B8;
  }
  
  body {
    font-family: var(--main-font);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    margin: 0;
  }
  
  p,
  ul {
    padding: 0;
  }
  
  img {
    display: block;
  }


/* ==========header=========== */

.header .container,
.navigation,
.navigation-list {
  display: flex;
  align-items: center;
}

.header .navigation {
  border-bottom: 1px solid var(--border-color);
}

.header .logo {
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-left: 0;
}
.header .contact-link:not(:last-child) {
    margin-left: auto;
    margin-right: 50px;
  }
  .contact-link {
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    color: var(--bright-grey);
    fill: var(--bright-grey);
    font-style: normal;
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, focus {
    color: var(--main-blue);
    fill:  var(--main-blue);
  }
}
.header .logo {
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
    margin-left: 0;
  }
  .header {
    color: var(--black);
  }
  .navigation-list__item:not(:last-child) {
    margin-right: 46px;
  }
  .navigation-link {
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    color: var(--black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{
    color: var(--main-blue);
    text-decoration: none;
    }
  }
  .navigation-link__active {
    position: relative;
    text-decoration: none;
    color: var(--black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--main-blue);
    bottom: -32px;
    left: 0;
    
  }
}
// =====koniec headera======
// =========hero==========

.hero {
    background-color: var(--background);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url("../Images/background-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__banner {
    color: var(--main-white);
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
    flex-wrap: wrap;
    max-width: 696px;
    text-align: center;
    margin-top: 200px;
  }
  .hero__button {
    font-size: 16px;
    text-align: center;
    color: var(--main-white);
    background-color: var(--main-blue);
    line-height: 1.88;
    font-weight: 700;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 200px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &focus {
  background-color: var(--main-white);
  color: var(--black);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  }
  .hero__button-text {
    padding: 10px 41px 10px 42px;
    color: var(--main-white);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 &:hover{
    color:var(--black);
    }
}
// ==========section no__pad i lorem==========
.no__pad {
    padding-top: 94px;
    padding-bottom: 0;
  }
  .container {
    width: 1200px;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
  }
  .lorem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
  }
  .first-lorem,
  .second-lorem,
  .third-lorem,
  .fourth-lorem {
    background-color: var(--background-white);
  }
  
  .first-lorem, .fourth-lorem {
    padding: 25px 0;
  }
  .second-lorem, .third-lorem {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
// ===============section section================
.lorem__list {
    display: flex;
    flex-wrap: wrap;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .no-decoration {
    text-decoration: none;
    list-style-type: none;
  }
  .lorem__item {
    flex-basis: calc((100% - 90px) / 4);
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.lorem__item {
    flex-basis: calc((100% - 90px) / 4);
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.lorem__text {
    line-height: 1.71;
    color: var(--bright-grey);
  }
  .lorem__tittle {
    text-transform: uppercase;
  }
//   ======section skills===========
.skills {
    padding-block: 94px;
  }
  .about-us__banner {
    margin: 94px auto 50px;
    max-width: 353px;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  
  .about-us__gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .about-us-gallery-item {
    flex-basis: calc((100% - 60px) / 3);
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.about-us__background {
    margin-top: 224px;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us__info{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-white);
  }

// ===========section team===============
.team {
    background-color: var(--background-white);
  }
  .team__banner {
    margin: 0 auto 50px;
    max-width: 211px;
    font-size: 36px;
    line-height: 1.16;
  }
  .team__banner,
  .team-description {
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__banner,
  .team-name {
    font-weight: 700;
  }
  .team__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-gallery__item {
    margin: 0;
    padding-bottom: 30px;
    background: var(--main-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 90px) / 4);
  }
  .team-gallery__list:not(:first-child) {
    margin-left: 30px;
  }
  .team-description {
    font-size: 16px;
    line-height: 1.19;
  }
  .team-name {
    margin-top: 30px;
  }
  .team-job {
    color: var(--bright-grey);
    margin-top: 10px;
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-decoration: none;
    fill: var(--social-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover {
    background-color: var(--main-blue);
    fill: var(--main-white);
  }
}
// ===========section clients===============
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  .clients__images {
    display: flex;
    justify-content: space-around;
    padding: 30px;
  }
  
  .clients__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    text-decoration: none;
    border: 1px solid var(--social-color);
    border-radius: 4px;
    margin-top: 50px;
    fill: var(--social-color);
    transition-property: border,fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 &:hover {
    border: 1px solid var(--main-blue);
    fill: var(--main-blue);
  }
}
// =========KONIEC MAINA i INDEXU=========
// =========sekcja container=========
.services-list {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
  }

  .services-list__button {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.03em;
    background-color: var(--background-white);
    border-radius: 4px;
    border: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-blue);
    background-color: var(--main-blue);
    font-size: 16px;
    cursor: pointer;
  }
}
  
  .services-list li:not(:first-child) {
    margin-left: 8px;
  }
  
  .services-button__text {
    padding: 6px 22px;
    color: var(--black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color:var(--main-white);
  }
}
// =========galeria=========
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery__item {
    flex-basis: calc((100% - 90px) / 3);
    transition-property: overflow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    position: relative;
    overflow: hidden;

  &:nth-child(-n + 6) {
    margin-bottom: 30px;
  
 &:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }
}
}
  .gallery__item:hover .portfolio-overlay{
    transform: translateY(0)
  }
  .gallery__picture {
    background: var(--main-white);
    margin: 0;
  }
  .gallery__overlay {
    position: relative;
    overflow: hidden;
  }
  // =========overlay============
  .portfolio-overlay{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--main-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(33, 150, 243, 0.9);
    justify-content: center;
    padding: 49px 45px 49px 24px;
  }
  .text-overlay {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1, 55;
    letter-spacing: 0.03em;
    color: var(--main-white);
  }
  .gallery__description {
    border: 1px solid var(--border-color);
    max-width: 370px;
    padding-top: 20px;
  }
  .gallery__title {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
    text-align: left;
    color: inherit;
    padding-left: 24px;
  }
  .gallery__title,
  .gallery-description__type {
    letter-spacing: 0.06em;
  }
  .services-list__button,
  .gallery-description__type {
    line-height: 1.88;
  }

  .gallery-description__type {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--bright-grey);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    margin: 0px;
    padding-top: 4px
  }



// =========FOOTER=========
// =========footer=========
.footer {
    background-color:var(--background);
  }
  .footer .logo {
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 0;
  }
  
  .logo {
    font-size: 26px;
    line-height: 1.2;
    color: var(--black);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  .foot {
    display: flex;
    justify-items: auto;
    align-items: flex-start;
  }
  // =========footer logo=========
  .footer__webstudio {
    display: flex;
    padding-right: 70px;
    padding-top: 60px;
  }
  .logo-bottom {
    display: flex;
    text-decoration: none;
  }
  .footer__logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-blue);
  }
  .footer__logo--white {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-white);
  }
// =========footer adress contact=========
.address {
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .address__footer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 70px;
  }

  .address__footer li {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: white;
    list-style-type: none;
&:nth-child(2) {
    margin-top: 9px;
  }
}
  .address__footer li:nth-child(3) {
    margin-top: 9px;
  }
  .address__footer li:nth-child(2) a, li:nth-child(3) a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
  }
  // =========footer social=========
  .footer-banner {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color:var(--main-white);
    padding-top:72px;
    padding-bottom: 20px;
    }
    .footer-icon {
        display: flex;
        padding-right: 70px;
        padding-bottom: 100px;
        gap: 10px;
      }
    .footer-icon__item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        text-decoration: none;
        fill: var(--main-white);
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover {
        background-color: var(--main-blue);
        fill: var(--main-white);
      }
  }
 // =========footer newsletter=========
 .newsletter {
    display: flex;
    flex-direction: column;
    width: 570px;
  }
  .newsletter-banner {
    color: white;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 72px;
    margin-bottom: 20px;
  }
  .newsletter-footer {
    display: flex;
    gap: 12px;
  }
  .footer-newsletter__placeholder {
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--background-grey);
    padding: 14px 16px;
    outline: none;
    color: var(--main-white);
    line-height: 1.25;
    font-size: 16px;
    letter-spacing: 0.03em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 &focus {
    border-color: var(--main-blue);
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
  .footer-newsletter__button {
    background-color: var(--main-blue);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-white);
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 12px;
  }
  .button-icon {
    margin-left:24px;
    fill: var(--main-white);
  }
// =======KONIEC FOOTERA=========
// =======modal========
.backdrop {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-hidden {
    transform: scale(0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal {
    width: 528px;
    height: 581px;
    background: var(--main-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;  
    bottom: 0;
    top: 0;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--main-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 8px;
    top: 8px;
  }
  .modal-btn__icon {
    fill: black;
  }
  .modal-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modal-style__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 40px;
   
  }
  .label-title {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--bright-grey);
    width: 448px;
    padding-bottom: 10px;
  }
  .label-title__input {
    display: block;
    position: relative;
    margin-top: 4px;
  }
  .label-title__input--comm {
    display: block;
    position: relative;
    margin-top: 4px;
    margin-bottom: 20px;
    height: 120px;
  }
  .input{
    width:448px;
    height:20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .label-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-check {
    display: flex;
    align-items: flex-start;
    margin: auto;
  }
  .check-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    border: solid 2px black;
    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--main-white);
    fill: var(--main-white);
  }
  .modal-statute {
    font-size: 14px;
    color: var(--bright-grey);
    letter-spacing: 0.03em;
  }
  .modal-statute__href{
    color: var(--main-blue)
    }
    .modal-submit {
        background: var(--main-blue);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--main-white);
        border: 0px;
        align-items: center;
        justify-content: center;
        margin: auto;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 40px;
      }