.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  .clients__images {
    display: flex;
    justify-content: space-around;
    padding: 30px;
  }
  
  .clients__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    text-decoration: none;
    border: 1px solid var(--social-color);
    border-radius: 4px;
    margin-top: 50px;
    fill: var(--social-color);
    transition-property: border,fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 &:hover {
    border: 1px solid var(--main-blue);
    fill: var(--main-blue);
  }
}