:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-blue: #2196f3;
    --border-color: #ececec;
    --bright-grey: #757575;
    --black: #212121;
    --background: #2f303a;
    --main-white: #ffffff;
    --background-white: #f5f4fa;
    --social-color: #AFB1B8;
  }